.dialog {
	width: 300px;
	height: 400px;
}

.notice, .success, .error {padding:0.8em;margin:0.77em 0.77em 0 0.77em;border-width:2px;border-style:solid;}
.notice {background-color:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background-color:#E6EFC2;color:#264409;border-color:#C6D880;}
.error {background-color:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.rightFrame {
	padding: 10px;
	background: #aaaaaa;
	height: 100%;
	width: 400px;
	position: fixed;
	top: 0px;
	right: 0px;
	zIndex: 9000000000000000000;
}